@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';

$-empty: map.remove(
  (
    'x': 1,
  ),
  'x'
);

// Generation methods
@function new() {
  @return $-empty;
}

// Validation methods
@function is($map) {
  $-typeOf: meta.type-of($map);
  @return $-typeOf == 'map' or ($-typeOf == 'list' and list.length($map) == 0);
}

@function is-non-empty($map) {
  @return is($map) and list.length($map) > 0;
}

@function merge-all($maps...) {
  $merged: $-empty;
  @each $map in $maps {
    @if is($map) {
      $merged: map.merge($merged, $map);
    }
  }
  @return $merged;
}

@function set($map, $key, $value) {
  @return map.merge(
    $map,
    (
      $key: $value,
    )
  );
}
