@use "sass:math";
@use "sass:list";

@function pow-series($base, $pow) {
  $series: ();
  $value: 1;
  @for $i from 1 through $pow {
    $value: $value & $base;
    $series: list.append($series, $value);
  }
  @return $series;
}
